.A{
    display: flex;
    padding: 20px 20px;
  
}
img{
    height: 600px;
    width: 600px;
}
p{
    font-size: 30px;
    box-shadow: grey 15px 15px 15px 15px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 7px;
}
h1{
    font-size: 60px;
    box-shadow:gray 5px 5px 5px 5px;
    background-color: lightseagreen;
    padding-left: 10px;
    width: 230px;
    
}
body{
    font-family: 'Russo One', sans-serif;
}
h3{
    font-size: 40px;
    color: brown;
}
a{
    text-decoration: none;
    font-size: 30px;
    background-image: linear-gradient(rgb(228, 10, 10), black);
    color: lightyellow;
    padding: 10px 10px;
    margin-left: 7px;
    border-radius: 7px;
}
.B{
    display: flex;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
  
}
.M{
    background-color: rgb(7, 177, 7);
    width: 255px;
}
.medina{
    margin-right: 40px;
}
.C{
    display: flex;
    padding: 25px 25px;
}
.al{
    font-size: 60px;
    background-color: rgb(65, 62, 62);
    width: 290px;
}
section{
    display: flex;
 

}
.all{
    margin-left: 15px;
    margin-right: 15px;
  
    border-left: 10px solid;
    border-top: solid 10px;
    border-image: linear-gradient(rgb(0, 255, 119),rgb(231, 111, 12));
    border-image-slice: 2;
    height: 565px;  
}
.All{
    padding-top: 10px 10px;
    margin-top: 0px;
}
strong{
    font-size: 60px;
    margin-left: 20px;
}
.kma{
    font-size: 35px;
    color: rgb(207, 187, 8);
    padding-left: 10px;
}
footer{
    font-size: 25px;
    text-align: center;
}
