.A{
    display: flex;
    padding: 20px 20px;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    background-position: left 0px; 
}
body{
    font-family: 'Russo One', sans-serif;
}
.kameaq{
    font-size: 30px;
    box-shadow: grey 15px 15px 15px 15px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 7px;
    border: black solid 5px;
}
img{
    height: 600px;
    width: 600px;
}
h1{
    font-size: 60px;
    background-color: rgb(235, 156, 9);
    width: 230px;
    box-shadow:gray 5px 5px 5px 5px;
    padding-left: 10px;    
}
h3{
    font-size: 40px;
    color: brown;
    
    
}
a{
    text-decoration: none;
    font-size: 30px;
    color: lightyellow;
    background-image: linear-gradient(rgb(9, 7, 136), rgb(4, 139, 67));
    padding: 10px 10px;
    margin-left: 7px;
    border-radius: 7px;
}


.B{
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right 110px;
}
.medinaimg{
    margin-right: 40px;
}
.medina{
    background-color: rgb(13, 153, 66);
    width: 255px;
}


.C{
    display: flex;
    margin: 20px 20px;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left 205px;
}
.alaqsa{
    width:280px;
    background-color: dimgray;
}


span{
    color:black;
    font-size: 60px;
    margin-left: 15px;
    text-shadow:dimgray 7px 7px 7px;
}


section{
    display: flex;
    background-image: url(images/top-banner.png),url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: left 0px, right 340px;
}
.everything{
    margin-left: 25px;
    margin-right: 25px;
    box-shadow: dimgray 15px 15px 15px 15px;
    border-top: 10px solid;
    border-bottom: 3px solid;
    border-left: 10px solid;
    border-right:solid 4px;
    height: 555px;
    border-image: linear-gradient(rgb(142, 216, 5),rgb(231, 111, 12));
    border-image-slice: 2;  
    padding: 15px 10px; 
}
.all{
    font-size: 30px;
    margin-top: 0px;
}
.kma{
    font-size: 35px;
    color: rgb(230, 96, 6);
    padding-left: 10px;
}


footer{
    font-size: 25px;
    text-align: center;
}
.auion{
    color: rgb(105, 5, 5);
    font-size: 30px;
    text-shadow: none;
}
