.A{
    display: flex;
    padding: 20px 20px;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    background-position: left 0px;
    
  
}
img{
    height: 600px;
    width: 600px;
}
p{
    font-size: 30px;
    box-shadow: grey 15px 15px 15px 15px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 7px;
}
h1{
    font-size: 60px;
    box-shadow:gray 5px 5px 5px 5px;
    background-color: lightseagreen;
    padding-left: 10px;
    width: 230px;
    
}
body{
    font-family: 'Russo One', sans-serif;
}
h3{
    font-size: 40px;
    color: brown;
}
a{
    text-decoration: none;
    font-size: 30px;
    background-image: linear-gradient(rgb(228, 10, 10), black);
    color: lightyellow;
    padding: 10px 10px;
    margin-left: 7px;
    border-radius: 7px;
}
.B{
    display: flex;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right 110px;
  
}
.M{
    background-color: rgb(7, 177, 7);
    width: 255px;
}
.medina{
    margin-right: 40px;
}
.C{
    display: flex;
    margin: 20px 20px;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left 128px;
}
.alaqsa{
    width:280px;
    background-color: dimgray;
}


section{
    display: flex;
    background-image: url(images/top-banner.png),url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: left 0px, right 340px;
}
.all{
    margin-left: 25px;
    margin-right: 25px;
  
    border-left: 10px solid;
    border-top: solid 10px;
    border-image: linear-gradient(rgb(4, 169, 246),rgb(231, 111, 12));
    border-image-slice: 2;
    height: 565px;  
}
.All{
    padding-top: 10px 10px;
    margin-top: 0px;
}
span{
    color: rgb(30, 2, 42);
    font-size: 60px;
   margin-left: 15px;
   text-shadow:darkslategray 7px 7px 7px;
}
.kma{
    font-size: 35px;
    color: rgb(230, 96, 6);
    padding-left: 10px;
}
footer{
    font-size: 25px;
    text-align: center;
}
.auion{
    color: rgb(105, 5, 5);
    font-size: 30px;
    text-shadow: none;
}
